<h1>Insurer: <%= @component.insurer %></h1>
<p>Policy Number: <%= @Insurance_policy.policy_number %></p>
<p>Description: <%= @Insurance_policy.description %></p>
<%= link_to 'Back', components_path %>
