
<h1>Insurer: <%= @insurance_policy.insurer %></h1>
<p>Policy Number: <%= @insurance_policy.policy_number %></p>
<p>Description: <%= @insurance_policy.description %></p>

<%= link_to 'Back', insurance_policies_path %>
