.edges .btn{
  // width: 100%;
  margin-right: 30px;
  }

  .edges{
    width: 100%;
    margin-left: 20px;
  }

  .body-list{
    width: 730px;
    margin-left: 20px;
  }


.maintenance-list{
  // width: 680px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.img-header-holder{
  margin: 20px;
}
