<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<hr>
  <div>
    <ul class="d-flex justify-content-center list-inline footer-links">
        <li class="list-inline-item">
            <a href="#" style="font-size:14px; color:grey;">
                Privacy Policy
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" style="font-size:14px; color:grey;">
                Terms of Service
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" style="font-size:14px; color:grey;">
                Sitemap
            </a>
        </li>
    </ul>
  </div>
