<div class="container grid card-container bg-white mt-5" id="card-container">
<h1 class="d-flex justify-content-center"> ShowRoom </h1>
<div class="row">
  <% if @bicycles.count > 0 %>
<%  6.times do %>
  <% @bicycles.each do |bicycle| %>
    <div class="card col-sm-4 bike-card p-0 mt-5">
    <div class="m-3 card-holder text-wrap" style="height:400px;">
      <%# <img src="..." class="card-img-top" alt="Your bike here"> %>
      <% if bicycle.photo.present? %>
      <div class="m-3 d-flex align-content-center justify-content-center">
      <%= cl_image_tag bicycle.photo.key, height: 250, width: 350, crop: :fill %>
      </div>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"> <%= link_to bicycle.name, bicycle_path(bicycle), class:'stretched-link' %></h5>
        <p class="card-text"><%= bicycle.make %> <%= bicycle.category %> </p>

      </div>
    </div>
    </div>
  <% end %>
<%end%>
  </div>
</div>
<% end %>
