<h3>" A single bicycle should appear here"</h3>
<p> we can added it later</p>

<%# <% if @bicycle.exists %>
  <h2><%= @bicycle.name %></h2>
  <%= link_to "Delete",
    bicycle_path(@bicycle),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<%# <% end %>
