</div>
<div class="background_image">
   <div class="container">
    <div class="row justify-content-center">
      <div id="open_message" class="col-md-12 text-center bg-light">
        <h1 class="display-6 fw-bold mt-3">"Your Bike's Perfect Haven."</h1>
        <h3 class="lead mt-5">For every adventure you chase and every dream you live, your bike deserves a safe home. With us, you ride free, knowing we’ve got your back—always and everywhere.</h3>
      </div>
    </div>
  </div>
</div>


<footer>
  <footer class="footer py-5 bg-secondary text-light">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <h5>About Us</h5>
                    <p id="about">
                      "Your Bike's Trusted Companion for Every Ride."
                      At Bicycle Passport, we understand the importance of your bicycle—it's more than just a mode of
                      transportation; it’s a partner in your adventures. With us, your bike’s legacy is safe, organized,
                      and ready for every ride.
                    </p>
                </div>
                <div class="col-md-3">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li>Email: partytime@example.com</li>
                        <li>Phone: +351 925665532</li>
                        <li>Address: party all the time Street, Lisbon, Portugal</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Follow Us</h5>
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                          <a href="#">
                                <i class="fab fa-facebook list-inline-item"></i>
                          </a>
                          </li>
                        <li class="list-inline-item list-inline-item">
                          <a href="#">
                                <i class="fab fa-x list-inline-item"></i>
                          </a>
                        </li>
                        <li class="list-inline-item ">
                          <a href="#">
                                <i class="fab fa-instagram list-inline-item"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                                <i class="fab fa-linkedin list-inline-item"></i>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Your Website. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-end">
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                            <a href="#" class="text-black">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-black">
                                Terms of Service
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-black">
                                Sitemap
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</footer>
