</div>
<div class="background_image">
    <%# <%= image_tag "JLaverack_Bike.jpg", alt: "Bike image2", class: "rounded", style: "background-image;" %>


    <div class="edges">
      <div class="align-content-center">
        <h1>Where your bike is always safe.</h1>
        <h3>For all those times when you live your dream precious outside. But you have peace of mind because you are with us. No matter what.</h3>
      </div>
    </div>
</div>


<footer>
  <footer class="footer py-5 bg-secondary text-light">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <h5>About Us</h5>
                    <p>
                        We are always available to fulfil your party needs.
                        Just let us know what you require and we will do it.
                        Of course we can.
                    </p>
                </div>
                <div class="col-md-3">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li>Email: partytime@example.com</li>
                        <li>Phone: +351 925665532</li>
                        <li>Address: party all the time Street, Lisbon, Portugal</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Follow Us</h5>
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                          <a href="#">
                                <i class="fab fa-facebook list-inline-item"></i>
                          </a>
                          </li>
                        <li class="list-inline-item list-inline-item">
                          <a href="#">
                                <i class="fab fa-x list-inline-item"></i>
                          </a>
                        </li>
                        <li class="list-inline-item ">
                          <a href="#">
                                <i class="fab fa-instagram list-inline-item"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                                <i class="fab fa-linkedin list-inline-item"></i>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Your Website. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-end">
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                            <a href="#" class="text-black">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-black">
                                Terms of Service
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-black">
                                Sitemap
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</footer>
