<h1>Bicycle Components</h1>
<ul>
  <% @bicycle_components.each do |bicycle_component| %>
    <li><%= link_to bicycle_component.component.name, bicycle_component_path(bicycle_component) %></li>
  <% end %>
</ul>
<%= link_to 'New Bicycle Component', new_bicycle_component_path %>
