<h1>Bicycle Component</h1>
<p>Bicycle ID: <%= @bicycle_component.bicycle_id %></p>
<p>Component ID: <%= @bicycle_component.component_id %></p>
<%= link_to 'Edit', edit_bicycle_component_path(@bicycle_component) %> |
<%= link_to 'Back', bicycle_components_path %>
