<div class="container">
<div class="text-container text-center my-5">
    <h1 class="">You fell</h1>
      <p>It seems you went off the track</p>

      <a href="/"><p style="color: blue;"><i class="fa-solid fa-user-nurse"></i>  Call the Support car  <i class="fa-solid fa-car"></i></p></a>

    <%= image_tag "bike-damaged.jpg", alt: "Bike image", class: "rounded", height:450, crop: :fill %>
</div>
</div>
