h1 {
  font-size: 46;
  font-weight: bold;
  color: $primary-green;
}

h2{
  font-size: 24;
  font-weight: bold;
  color: $black;
}

h3{
  font-size: 14;
  font-weight: normal;
  text-transform: uppercase;
  color: $black;
}

p{
  font-size: 14;
  font-weight: regular;
  color: $light-mode-text;
}
a{
  font-size: 16;
  font-weight: 550;
  text-transform: uppercase;
  color: $black;
}

button {
  background-color: $grey-stroke;
  border-radius: 4px;
  height: 40px;
  border: none;
    &:hover {
    opacity: 0.7;
  }
}
