<div class="container d-flex justify-content-center">
  <div class="jumbotron" style="width:900px; padding: 20px;">
    <h1 class="display-5 d-flex justify-content-center">New ride</h2>
    <hr class="my-4">
    <%= link_to rides_path do %>
      <span>  <i class="fa-solid fa-arrow-left"></i>  Back </span>
      <% end %>
    <div class="d-flex flex-column align-items-center">
      <%= render "form", ride: @ride, user: @user %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
